[submodule "themes/universal"]
	path = themes/universal
	url = https://github.com/seliger/4h-universal-theme.git
[submodule "themes/osm"]
	path = themes/osm
	url = https://github.com/Hanzei/hugo-component-osm.git
