/* your styles go here */
/* Example site test */


html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    font-size: 22px;    
}


header {
    font-size: 14px;
}

#map {
    height: 100%;
    width: 100vw;
}

#map-heading {
    display: block;
    z-index: 999;
    position: sticky;
    top: 61px;
    background-color: white;
    padding-left: 15px;
}

.box-simple .icon {
    height: 190px;
    width: 190px;
}

.box-simple .icon img {
    height: 190px;
    width: 190px;
}

.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

.leaflet-popup-content {
    font-size: 12pt;
}

.leaflet-top .leaflet-control {
    margin-top: 130px;
}

.center {
    text-align: center;
}

.bumped-2 {
    margin-top: 0px;
    margin-left: 2em;
}

.bumped-3 {
    margin-top: 0px;
    margin-left: 3em;
}

.bumped-4 {
    margin-top: 0px;
    margin-left: 4em;
}


#content figure {
    margin-top: 35px;
}

#content h1 {
    margin-top: 50px;
    text-decoration: underline solid #6aae7a 10%;
}

#content h2 {
    margin-top: 30px;
    margin-left: 0.5em;
}

#content h3 {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0.5em;
}

#content h4 {
    margin-left: 1.5em;
}

#content h5 {
    margin-left: 3em;
}


#content p {
    margin-top: 30px;
    margin-left: 2em;
}

#content *:not(li, .box-simple) > ul {
    margin-top: 10px;
    margin-left: 2em;
}

#content:not(li, .box-simple) > ol {
    margin-left: 3em;
}


#content table {
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
}


#content table th {
    padding-left: 5px;
    padding-right: 5px;
}

#content table td {
    padding-left: 10px;
    padding-right: 10px;
}


#schedule p {
    font-size: 12pt;
}

#schedule ul {
    font-size: 12pt;
}

#schedule:not(li) > ul {
    margin-top: 10px;
    margin-left: 1em;
}

#schedule h1 {
    font-size: 20pt;
}

#schedule h2 {
    font-size: 16pt;
    margin-bottom: 5px;
}

#schedule h3 {
    font-size: 14pt;
}

#schedule h4 {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#schedule p {
    margin-top: 5px;
}


img[src$='#center'] {
  display: block;
  margin: 1.0rem auto;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
    
    .csscolumn {
      -webkit-column-count: 2;  /* Chrome, Safari, Opera */
      -moz-column-count: 2;     /* Firefox */
      column-count: 2;
    }
    
    .csscolumn {
      width: 100%;
    }
    .csscolumn + .csscolumn {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid;
    }

}

#top .dates {
    font-size: 14pt;
    font-weight: bold;
}

@media (max-width: 15000px) {
    .container {
        width: 85%;
    }
}

#footer {
    margin-top: 40px;
}

@media (max-width: 1385px) {
    .container {
        width: 85%;
    }
    .navbar-brand {
        padding-top: 14px;

    }
    .navbar-brand img {
        width: auto;
        height: 60px;
    }
}


@media (max-width: 1330px) {
    .container {
        width: 100%;
    }
    .navbar-brand {
        padding-top: 14px;

    }
    .navbar-brand img {
        width: auto;
        height: 54px;
    }

    #content table {
        font-size: 8pt;
    }
}

@media (max-width: 1290px) {
    .container {
        width: 100%;
    }
    .navbar-brand {
        padding-top: 14px;

    }
    .navbar-brand img {
        width: auto;
        height: 48px;
    }
}

@media (max-width: 1245px) {
    .container {
        width: 100%;
    }
    .navbar-brand {
        padding-top: 18px;

    }
    .navbar-brand img {
        width: auto;
        height: 42px;
    }
}

@media (max-width: 1205px) {
    .container {
        width: 100%;
    }
    .navbar-brand {
        padding-top: 20px;

    }
    .navbar-brand img {
        width: auto;
        height: 38px;
    }
}

@media (max-width: 1175px) {
    .container {
        width: 100%;
    }
    .navbar-brand {
        padding-top: 24px;
    }
    .navbar-brand img {
        width: auto;
        height: 32px;
    }
}

@media (max-width: 1130px) {
    .container {
        width: 100%;
    }
    .navbar-brand {
        padding-top: 24px;
    }
    .navbar-brand img {
        width: auto;
        height: 26px;
    }
}

/*@media (max-width: 920px) {
    .navbar-brand img {
        width: auto;
        height: 32px;
    }
}
*/

.navbar-brand img {
    max-height: 67px;
}



.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #339966;
}

input:focus + .slider {
  box-shadow: 0 0 1px #339966;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.owl-carousel.customers.owl-theme .owl-item {
    display: flex;
    height: 200px;
    align-items: center;
}

.box-simple a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box-simple h3 {
    text-align: center;
    margin: auto;
}

.box-simple a img {
    display: flex;
    width: 75%;
}

.box-simple ul {
    text-align: left;
    color: #999999;
    list-style: square;
    min-width: 85%;
    display: block;
}

.box-simple ul li {
    padding-top: 5  px;
}
.center-row-cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.customers .item img {
    display: inline-block;
    filter: none;
    -webkit-filter: none
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
