{{ define "main" }}
{{ .Content }}

{{ $year := .Site.Params.fair_year }}
{{ $schedules := printf "%s_%s" .Params.schedule_prefix $year }}

<div id="schedule">
  {{ range $a, $b := .Site.Data.schedule }}
    {{ if strings.HasPrefix $a $schedules }}
      <h2>{{ .longdate }}</h2>
      {{ if .sponsors }}
        <h3>Sponsors of the Day</h3>
        {{ range .sponsors }}<p>— <a href="{{ .link }}">{{ .sponsor }}</a></p>{{ end }}
      {{ end }}
      {{ if .specials }}
        <h3>Specials &amp; Notes</h3>
        {{ range .specials }}<p>— {{ . | markdownify }}</p>{{ end }}
      {{ end }}
      {{ range $i, $times := $b.times }}
        <h3>{{ $times.time }}</h3>
        {{ range $venue_name, $venue := $times.venues }}
          <h4>{{ $venue_name }}</h4>
          <ul>
            {{ range $event := $venue }}
              <li>
                {{ $event.event_name | markdownify }}
                {{ if $event.event_end_time }}<strong>(until {{ $event.event_end_time }})</strong>{{ end }}
                {{ if $event.description }}<ul><li>{{ $event.description | markdownify }}</li></ul>{{ end }}
              </li>
            {{ end }}
          </ul>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>
{{ end }}
