<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8" id="blog-post">
                        {{ .Content }}
                    </div>
                </div>

                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-8" id="blog-post">
                        {{/* $year := replace .FirstSection.Page.RelPermalink "/" "" */}}
                        {{ $year := .Section }}
                        {{ $schedules := printf "%s_%s" .Params.schedule_prefix $year }}

                        <div id="schedule">
                            {{ range $a, $b := .Site.Data.schedule }}
                                {{ if strings.HasPrefix $a $schedules }}
                                    <h2>{{ .longdate }}</h2>
                                    {{ if .sponsors }}
                                        <h3>Sponsors of the Day:</h3>
                                        {{ range .sponsors }}
                                            <p>&#8212; <a href="{{ .link }}">{{ .sponsor }}</a></p>
                                        {{ end }}
                                    {{ end }}

                                    {{ if .specials }}
                                        <h3>Specials & Notes:</h3>
                                        {{ range .specials }}
                                            <p>&#8212; {{ . | markdownify }}</p>
                                        {{ end }}
                                    {{ end }}
                                    {{ range $i, $times := $b.times }}
                                        <h4>{{ $times.time }}</h4>
                                        {{ range $venue_name, $venue := $times.venues }}
                                            <h5>{{ $venue_name }}</h5>
                                            <ul>
                                                {{ range $event := $venue }}
                                                    <li class="schedule_list">
                                                        {{ $event.event_name | markdownify }}
                                                        {{ if $event.event_end_time }}
                                                            <b>(until {{ $event.event_end_time }})</b>
                                                        {{ end }}
                                                        <ul>
                                                            {{ if $event.description }}
                                                                <li>{{ $event.description | markdownify }}</li>
                                                            {{ end }}
                                                        </ul>
                                                    </li>
                                                {{ end }}
                                                </ul>
                                            {{ end }}
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </div>
                        <!-- /#post-content -->
                        {{ if .Site.Config.Services.Disqus.Shortname }}
                        <div id="comments">
                            {{ template "_internal/disqus.html" . }}
                        </div>
                        {{ end }}

                    </div>

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
