<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8" id="blog-post">
                        {{ .Content }}
                    </div>
                </div>

                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-8" id="blog-post">

                        <div id="">
                            {{ $year := .Section }}
                            {{ $date := printf "%s_%s" .Params.schedule_prefix (now.Format "20060102") }}
                            {{ $data := (index .Site.Data.schedule $date) }}

                            {{ with $data }}
                                <h1>{{ .longdate }}</h1>
                                {{ if .sponsors }}
                                    <h2>Sponsors of the Day:</h2>
                                    {{ range .sponsors }}
                                        <p>&#8212; <a href="{{ .link }}">{{ .sponsor }}</a></p>
                                    {{ end }}
                                {{ end }}

                                {{ if .specials }}
                                    <h2>Specials & Notes:</h2>
                                    {{ range .specials }}
                                        <p>&#8212; {{ . | markdownify }}</p>
                                    {{ end }}
                                {{ end }}
                                {{ range $i, $times := .times }}
                                    <h3>{{ $times.time }}</h3>
                                    {{ range $venue_name, $venue := $times.venues }}
                                        <h4>{{ $venue_name }}</h4>
                                        <ul>
                                            {{ range $event := $venue }}
                                                <li>
                                                    {{ $event.event_name | markdownify }}
                                                    {{ if $event.event_end_time }}
                                                        <b>(until {{ $event.event_end_time }})</b>
                                                    {{ end }}
                                                    <ul>
                                                        {{ if $event.description }}
                                                            <li>{{ $event.description | markdownify }}</li>
                                                        {{ end }}
                                                    </ul>
                                                </li>
                                            {{ end }}
                                            </ul>
                                        {{ end }}
                                {{ end }}                                
                            {{ end }}
                            {{ if not $data }}
                                <h1> {{ now.Format "Monday, January 2, 2006" }}</h1>
                                <h2>No events found for today!</h2>
                                <p>
                                    Looking for project check-in dates and time? 
                                    Check out the 
                                    <a href="/{{ now.Format "2006" }}/prefair/today/">Pre-Fair Schedule</a> 
                                    for more information.
                                </p>
                            {{ end }}
                            <p><br><a href="{{ .CurrentSection.RelPermalink }}">View Full Schedule</a></p>
                        </div>
                        <!-- /#post-content -->
                        {{ if .Site.Config.Services.Disqus.Shortname }}
                        <div id="comments">
                            {{ template "_internal/disqus.html" . }}
                        </div>
                        {{ end }}

                    </div>

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
