{{ define "main" }}
{{ .Content }}

{{ $year := .Site.Params.fair_year }}
{{ $dining_options := printf "dining_%s" $year }}

{{ if not .Site.Data.dining }}
  <h2>Coming Soon!</h2>
  <p>Dining options are being finalized. Check back soon for a full menu!</p>
{{ end }}

{{ range $a, $b := .Site.Data.dining }}
  {{ if strings.HasPrefix $a $dining_options }}
    <h2>{{ .longdate }}</h2>
    {{ $meal := "" }}
    {{ range $b.events }}
      {{ if ne .Meal $meal }}
        {{ $meal = .Meal }}
        <h3>{{ .Meal }} {{ (index . "Time Period") }}</h3>
      {{ end }}
      <h4>{{ (index (index . "Food Vendor Data") "Name") }} — {{ (index . "Venue Name") }}</h4>
      <p><em>{{ (index . "Meal Headline") }}</em></p>
      {{ $category := "" }}
      {{ range (index . "Menu Items") }}
        {{ if ne $category .Tag }}
          {{ if ne $category "" }}</ul>{{ end }}
          {{ $category = .Tag }}
          <h5>{{ (index .Tag 0) }}</h5>
          <ul>
        {{ end }}
        {{ if (index . "Combo Item?") }}<ul>{{ end }}
        <li>
          {{ (index . "Food Item") }}
          {{ if .Price }} — ${{ printf "%.2f" (cast.ToFloat .Price) }}{{ end }}
          {{ if .Notes }}<ul><li>{{ .Notes }}</li></ul>{{ end }}
        </li>
        {{ if (index . "Combo Item?") }}</ul>{{ end }}
      {{ end }}
      </ul>
    {{ end }}
  {{ end }}
{{ end }}
{{ end }}
