{{ define "main" }}
{{ .Content }}

{{ $date := printf "dining_%s" (now.Format "20060102") }}
{{ $data := (index .Site.Data.dining $date) }}

{{ with $data }}
  <h2>{{ .longdate }}</h2>
  {{ $meal := "" }}
  {{ range .events }}
    {{ if ne .Meal $meal }}
      {{ $meal = .Meal }}
      <h3>{{ .Meal }} {{ (index . "Time Period") }}</h3>
    {{ end }}
    <h4>{{ (index (index . "Food Vendor Data") "Name") }} — {{ (index . "Venue Name") }}</h4>
    <p><em>{{ (index . "Meal Headline") }}</em></p>
    {{ $category := "" }}
    {{ range (index . "Menu Items") }}
      {{ if ne $category .Tag }}
        {{ if ne $category "" }}</ul>{{ end }}
        {{ $category = .Tag }}
        <h5>{{ (index .Tag 0) }}</h5>
        <ul>
      {{ end }}
      <li>
        {{ (index . "Food Item") }}
        {{ if .Price }} — ${{ printf "%.2f" (cast.ToFloat .Price) }}{{ end }}
        {{ if .Notes }}<ul><li>{{ .Notes }}</li></ul>{{ end }}
      </li>
    {{ end }}
    </ul>
  {{ end }}
{{ end }}
{{ if not $data }}
  <h2>{{ now.Format "Monday, January 2, 2006" }}</h2>
  <p>No dining information found for today.</p>
{{ end }}

<p><a href="{{ .CurrentSection.RelPermalink }}">← View All Dining Options</a></p>
{{ end }}
