on:
  schedule:
      - cron: '01 04 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: preview

    steps:
      - name: Check out main
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 0

      - name: Checkout latest release tag
        run: git checkout $(git tag | grep preview- | tail -1)

      - name: Checkout schedgen repo
        uses: actions/checkout@v4
        with:
          repository: tippe4hexhibit/schedgen
          path: schedgen

      - name: Checkout menugen repo
        uses: actions/checkout@v4
        with:
          repository: tippe4hexhibit/menugen
          path: menugen

            
      - name: Setup Python environment
        uses: actions/setup-python@v5 
        with:
          python-version: '3.12'
          cache: 'pip'
      
      - name: Generate Schedule Data Files
        run: |
          pip install -r schedgen/requirements.txt
          python -m schedgen
        env:
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
          AIRTABLE_BASE: ${{ vars.AIRTABLE_BASE }}
          AIRTABLE_TABLE: ${{ vars.AIRTABLE_TABLE }}
          OUTPUT_DIR: ${{ vars.OUTPUT_DIR }}
          PYTHONPATH: ./schedgen

      - name: Generate Dining Menu Data Files
        run: |
          pip install -r menugen/requirements.txt
          python -m menugen
          cat ./data/dining/dining_20240720.yaml
        env:
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
          AIRTABLE_BASE: ${{ vars.AIRTABLE_BASE }}
          TABLE_DINING_VENDORS: ${{ vars.TABLE_DINING_VENDORS }}
          TABLE_DINING_EVENTS: ${{ vars.TABLE_DINING_EVENTS }}
          TABLE_DINING_EVENTMENUITEMS: ${{ vars.TABLE_DINING_EVENTMENUITEMS }}
          MENU_OUTPUT_DIR: ${{ vars.MENU_OUTPUT_DIR }}
          PYTHONPATH: ./menugen            

      - name: Deploy site
        uses: seliger/hugo-s3-action@master
        
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          HUGO_ENVIRONMENT: 'preview'
          HUGO_VERSION: ${{ vars.HUGO_VERSION }}
          MINIFY: 'false'
          TZ: America/New_York

